* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --color-White: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);
  --font-family: "Work Sans", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  width: 100%;
  font-size: 16px;
  background-color: var(--color-light-pink);
  font-family: var(--font-family);
  color: var(--color-dark-purple);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 36%;
  background-image: url("../images/background-pattern-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
main {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  background-color: var(--color-White);
  height: fit-content;
  width: 600px;
  padding: 24px;
  border-radius: 8px;
}
.star-icon {
  height: 20px;
  width: 20px;
}
.question,
.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  min-height: 70px;
}
.content-header {
  gap: 20px;
}
.question {
  justify-content: space-between;
}
.card-question {
  display: flex;
  flex-direction: column;
}
.response {
  padding-bottom: 20px;
  color: var(--color-grayish-purple);
}
.card-question:nth-child(n + 3) {
  border-top: 2px solid #f7f6fb;
}

h2 {
  font-weight: 700;
}
h4 {
  font-weight: 600;
}

.dropdown-icon {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
@media (max-width: 375px) {
  body::before {
    background-image: url("../images/background-pattern-mobile.svg");
  }
  .content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 327px;
  }
}
